.mainButton{
    text-align: center;
    width: auto;
    border: 3px;
    padding: 5px;  
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.windowOfButton{
    max-width: 50%;
    width: fit-content;
    margin: auto;
    width: 50%;
    border: 3px ;
    padding: 10px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 10px;
}

.orange{
    background: linear-gradient(to right bottom, rgba(255, 214, 112, 0.7), rgba(255, 214, 112, 0.3));
}

.blue{
    background: linear-gradient(to right bottom, rgba(112, 214, 255, 0.7), rgba(112, 214, 255, 0.3));
}

.yellow{
    background: linear-gradient(to right bottom, rgba(233, 255, 112, 0.7), rgba(233, 255, 112, 0.3))
}

.green{
    background: linear-gradient(to right bottom, rgba(126, 183, 127, 0.7), rgba(126, 183, 127, 0.3))
}

.salmon{
    background: linear-gradient(to right bottom, rgba(255, 151, 112, 0.7), rgba(255, 151, 112, 0.3))
}