.mainButton{
    text-align: center;
    width: auto;
    border: 3px;
    padding: 5px;  
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.windowOfButton{
    max-width: 50%;
    width: fit-content;
    margin: auto;
    width: 50%;
    border: 3px ;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
