.glass{
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.7), rgba(255,255,255,0.3));
    min-height: 80vh;
    min-width: 50vw;
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(0.5rem);
    display: flex;
}

.content{
    flex: 3;
}

.circle1, .circle2{
    background: linear-gradient(to right bottom, rgba(255,255,255, 0.8), rgba(255, 255, 255, 0.2));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.circle1{
    top: 5%;
    right: 17%
}

.circle2{
    bottom: 5%;
    left: 20%
}